{% extends 'base.html' %} 
{% block title %} {{request.user}}&nbsp; - Profile {% endblock title%} 
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mt-3 custom-padding">
                
                <div class="card p-2" style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
                    <div class="row g-0">
                      <div class="col-md-3">
                        <img src="{{profile.profile_pic.url}}" class="img-fluid rounded-start" alt="..." width="225px" height="225px">
                         </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title" style="font-size: 24px; font-weight: 700;">{{profile.full_name}}</h5>
                          <p class="card-text"><i class="bi bi-geo-alt"></i>&nbsp;{{profile.location}}</p>
                          <!-- <p class="card-text"><span style="font-weight: 800;">Address:&nbsp;</span></p> -->
                          <p class="card-text"><span style="font-weight: 800;"><span class="badge rounded-pill bg-warning text-dark" style="font-size: 14px;">{{profile.set_available}}</span></p>
                          <br>
                          {% if profile.user == request.user %}
                          <a href="{% url 'other:freelance-update-profile' pk=profile.user.pk %}" class="btn btn-warning">Update Profile</a>
                          {% else %}
                          <a href="{% url 'other:hire_freelancer' pk=profile.user.pk %}" class="btn btn-outline-warning text-dark">Hire Me</a>
                          <a href="{% url 'other:contact-freelancer' pk=profile.user.pk %}" class="btn btn-outline-warning text-dark">Chat With Me</a>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
        </div>

        <div class="col-sm-4 custom-padding">
            <div class="card p-3">
                <!-- Skill Section Start -->
                
                {% if skills %}
                {% if profile.user == request.user %}
                <h5 style="font-weight: 700;">Skills&nbsp; <a href="{% url 'other:update-skill' pk=profile.user.id %}" class="btn-circle btn-xl"><i class="bi bi-pencil-fill"></i></a></h5>
                {% else %}
                <h5 style="font-weight: 700;">Skills</h5>
                {% endif %}
                <hr>
                
                <div class="skill-container">
                    {% for skill in skills %}
                        <span class="badge bg-secondary">{{ skill }}</span>
                    {% endfor %}
                </div>
                {% else %}

                {% if profile.user == request.user %}
                <a href="{% url 'other:add-skill' pk=profile.user.id %}" class="text-danger fw-bold">Add your skills</a>
                {% else %}
                <p class="text-danger fw-bold">This user hasn't added their own skill yet</p>
                {% endif %}
                {% endif %}
                <hr>
                <!-- Skill Section End -->

                <!-- Employee Section Start -->
                {% if employents %}
                {% if profile.user == request.user %}
                <h5 style="font-weight: 700;">Employment history&nbsp; <a href="{% url 'other:update-employement' pk=profile.user.id %}" class="btn-circle btn-xl"><i class="bi bi-pencil-fill"></i></a></h5>
                {% else %}
                <h5 style="font-weight: 700;">Employment history</h5>
                {% endif %}
                <hr>
                
                <h6 style="font-weight: 600;">{{employents.organization_name}}&nbsp;|&nbsp;{{employents.role}}</h6>
                <h6 class="text-muted">{{employents.join_date}}</h6>
                <p>{{employents.short_bio}}</p>
                {% else %}
                {% if profile.user == request.user %}
                <a href="{% url 'other:add-employement' pk=profile.user.id %}" class="text-danger fw-bold">Add Employement history</a>
                {% else %} <p class="text-danger fw-bold">This user hasn't added work experience yet </p> {% endif %}
                {% endif %}
                  <hr>
                  <!-- Employee Section End -->

                  <!-- Other Experience Section Start -->

                  <h5 style="font-weight: 700;">Other Experience</h5>
                  <hr>
                  {% if profile.other_experience %}
                  <p style="font-size: 16px;">{{profile.other_experience|linebreaks}}</p>
                  {% else %}
                  <p class="text-danger fw-bold"> 
                  {% if profile.user == request.user %}
                    You haven't added other experience yet. If you want to add please update your profile. {% else %} This user hasn't added other experience yet {% endif %}</p>
                  {% endif %}
                  <!-- Other Experience Section End -->
                
            </div>
        </div>
        
            <div class="col-sm-8 custom-padding">
                <div class="card p-3">
                    <h3>{{profile.title}}</h3>
                <br>
                <h5 class="text-muted" style="font-size: 18px;">{{profile.description|linebreaks }}</h5>
                </div>
                <div class="card p-3">
                    <h5 class="mt-3" style="font-weight: 700;">Work History</h5>
                    <hr>
                    {% if workhistory %}
                    {% for work in workhistory %}
                        <p style="color: #14A852; cursor: pointer; font-weight: 600;">{{work.job_title}}</p>
                        <p style="font-weight: 600;">${{ work.project_price }} <span style="font-weight: 500;">{{ work.created|date:"M d, Y" }} - {{work.delivery_date|date:"M d, Y"}}</span></p>
                        <p>Status: <span style="color: #14A852; cursor: pointer; font-weight: 600;">{{work.status}}</span></p>
                        <p>Client Name: <span style="color: #14A852; cursor: pointer; font-weight: 600;">{{work.client}}</span></p>
                        <hr>
                    {% endfor %}
              
                {% else %}
                
                {% if profile.user == request.user %}
                <p class="text-danger fw-bold">You haven't done any work yet.</p>
                {% else %}
                <p class="text-danger fw-bold">This user hasn't done any work yet.</p>
                {% endif %}
                    
                
                    {% endif %}
                        
                        
                </div>
            </div>
        
        </div>
    </div>
{% endblock content %}
    