{% extends 'base.html' %} 
{% block title %} Hire Freelancer {% endblock title%} 
{% load static %}

{% block content %}      

{% load crispy_forms_tags %}

<!--Login--> 
<div class="container py-5">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <h1 class="textheader">Please Provide this information</h1>
      {% if messages %}
      <div class="container">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      </div>
    {% endif %}
      <div class="card p-3">
        <form method="POST">
          {% csrf_token %}
          {{ form|crispy }}
          
            <button class="btn btn-primary mt-2" type="submit" style="width: 100%;">Hire A Freelancer</button>
          
        </form>
      </div>
      
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>

{% endblock %}