{% extends 'base.html' %} 
{% block title %} Previous Question {% endblock title%} 
{% load static %}

{% block content %}
<div class="container">
    <h1 class="textheader mt-3">**Our Previous Question List**</h1>
    <div class="row">
        
        {% for question in questions %}
            <div class="col-sm-4">
                <div class="card mb-3">
                    <img src="{{question.question_image.url}}" class="card-img-top" alt="..." width="450px" height="290px">
                    <div class="card-body">
                      <h5 class="card-title">{{question.subject_name}}</h5>
                      <h5 class="card-title">{{question.question_type}}</h5>
                      <p class="card-text">Question Year: <span style="font-weight: 900;">{{question.question_year}}</span></p>
                      <a href="{{question.question_image.url}}" class="btn btn-primary">View Question</a>
                      <a href="{{question.question_image.url}}" class="btn btn-primary" download>Download Question</a>
                    </div>
                    {% endfor %}
                  </div>
            </div>
            </div>
{% endblock content %}