{% extends 'base.html' %} 
{% block title %} {{request.user}}&nbsp; - Profile {% endblock title%} 
{% load static %}

{% block content %}
    <div class="container">
      <div class="row mt-3 mb-3">
        <div class="mb-3" style="background-color: #EEEEEE;">
          <p class="text-center mt-3" style="font-weight: bold; font-size: x-large;">Newly Ordered Products</p>
      </div>
      {% if messages %}
      <div class="container">
          {% for message in messages %}
              <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
          {% endfor %}
      </div>
  {% endif %}
      
      {% if order_infos %}
      
      {% for info in order_infos %}
      <div class="col-sm-12">
        <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-1">
                <img src="{{info.product.image.url}}" class="img-fluid rounded-start" alt="..." style="max-height: 150px;">
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <p class="card-text"><span>Product Name:</span>&nbsp;{{info.product.title}}</p>
                  <p class="card-text"><span>Product Price:</span>&nbsp;{{total_amount}}</p>
                  <p class="card-text" style="color: green; font-weight: 500;"><span>Order Status:</span>&nbsp;{{info.status}}</p>
                </div>
              </div>
            </div>
          </div>
    </div>
      {% endfor %}
  
      {% endif %}
      </div>  
    </div>
{% endblock content %}
    