/* Navbar Custom CSS */
nav .navbar-nav .nav-link:hover,
nav .navbar-nav .nav-link:focus {
  color: #70C332 !important;
}

ul.a {
    list-style-type: square;
  }
  ul.a a{
    text-decoration: none;
    color: gray;
  }
  .texth3{
    color: #757D81; 
  }
  .textp{
    color: gray;
    margin-left: 16px;
  }
  .social{
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
.fsocial li:first-child{
  left: 0;
  float: left;
}
.fsocial li{
  list-style: none;
  float: left;
  margin: 8px;
  margin-bottom: 16px;
}
.fsocial li a{
  text-decoration: none;
  
}
.contact-form{
  margin-left: 16px;
  margin-right: 16px;
}
.textheader{
  font-size: larger;
  font-weight: bold;
  letter-spacing: 3px;
  padding-bottom: 25px;
  color: #232525;
  text-align: center;
  text-transform: capitalize;
}
.rltext{
  padding-top: 15px;
  font-size: 16px;
  color: #232525;
  font-weight: 650;
}
.rltext a{
  color: rgb(45, 45, 133);
  text-transform: uppercase;
}
.card:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* Footer Nav */
.footer-nav{
  text-decoration: none;
  color: white;
}
.footer-nav:hover{
  color: #70C332;
}

/* Footer social media Icon */
.social-icons-row a {
  display: inline-block;
  margin-right: 15px;
  font-size: 22px;
}
.social-icons-row a:last-child {
  margin-right: 0;
}
.social-icons-row a i:hover{
  color: #70C332;
}
.custom-padding {
  padding-left: 0px!important;
  padding-right: 0px!important;
}

.skill-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.skill-container .badge {
  margin-right: 5px;
  margin-bottom: 5px;
}
.btn-circle.btn-xl {
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 50%; /* Use 50% to create a perfect circle */
  font-size: 15px;
  text-align: center;
  border: 1px solid gainsboro;
  color: #14a852;
}